.container >h1, h2{
  font-family: 'Oswald', sans-serif;
  color: grey;
}

.container >p,ul{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.text-white{
  text-decoration: none;
}
